@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}

html, body {
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

body{
    color: azure;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.description{
    color: pink;
}
.greetings{
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: pink;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .2s ;
}
.greetings > span:nth-child(3){
    animation-delay: .4s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}
.greetings > span:nth-child(6){
    animation-delay:  1s;
}
.greetings > span:nth-child(7){
    animation-delay:  1.2s;
}
.greetings > span:nth-child(8){
    animation-delay:  1.4s;
}
.greetings > span:nth-child(9){
    animation-delay:  1.6s;
}
.greetings > span:nth-child(10){
    animation-delay:  1.8s;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.button a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    border-radius: 50%;
    text-shadow: -1px -1px 0 #000,  
                  1px -1px 0 #000,
                 -1px 1px 0 #000,
                  1px 1px 0 #000;
}

.button button {
    border-radius: 40%;
    width: 60px;
    height: 60px;
    background-color: pink;
}